.container{
    /* border: 1px solid red; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    justify-content: space-around;
    gap: 30px;
    padding: 30px;
    background-color: #172337;
    
}
.leftBox{
    /* border: 1px solid; */
    width: 15%;
}
.leftBox p{
    /* border: 1px solid blue; */
    margin-top: 15px;
    width: 100%;
    text-align:justify;
    color: white;
}
.leftBox h3{
    color: white;
}
.details{
    display: grid;
    gap: 5px;
}
.details p{
   color: white;
}
.container h3{
    color: white;
    font-size: 20px;
}